$HEADER: (
  "BG_COLOR" : #2f3640,
  "COLOR": #fff,
  "LOGO_WIDTH": 40px,
  "LOGO_HEIGHT": 40px,
  "HEIGHT": 50px
);

$FOOTER: (
  "BG_COLOR" : #2f3640,
  "COLOR": #fff,
  "HEIGHT": 50px
);

$APP: (
  "SPACING" : 20px,
)