@import './../../../StyleSettings/variables';
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

input,
select,
textarea,
button {
  font-family: inherit;
}


button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration:  none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.Container {
  padding: map-get($APP, "SPACING");
}